Repository Renater/SIPMediaDeploy, pull requests merged in 2022-06, with the labels that each got.

#2 Initialize Terraform project
  .gitignore
  bin/terraform
  terraform/.terraform.lock.hcl
  terraform/README.md
  terraform/main.tf
  terraform/variables.tf
  terraform/versions.tf
Labels: documentation, Terraform

#3 Initialize Packer project
  .gitignore
  GNUmakefile
  bin/packer
  env.d/packer.dist
  packer/README.md
  packer/image.pkr.hcl
  packer/variables.pkr.hcl
Labels: documentation, packer

#4 add connection between packer and ansible
  packer/ansible.sh
  packer/image.pkr.hcl
Labels: packer

#7 Add Terraform deployment for Kamailio & Coturn
  .gitignore
  GNUmakefile
  bin/terraform
  env.d/terraform.dist
  terraform/admin.tf
  terraform/coturn.tf
  terraform/kamailio.cloud-init.sh
  terraform/kamailio.tf
  terraform/main.tf
  terraform/variables.tf
Labels: Terraform

#5 Ansible playbook for Kamailio
  ansible/playbooks/kamailio.yml
  ansible/roles/kamailio/README.md
  ansible/roles/kamailio/defaults/main.yml
  ansible/roles/kamailio/files/request_gw.py
  ansible/roles/kamailio/files/tls.cfg
  ansible/roles/kamailio/handlers/main.yml
  ansible/roles/kamailio/meta/main.yml
  ansible/roles/kamailio/tasks/main.yml
  ansible/roles/kamailio/templates/kamailio.cfg.j2
  ansible/roles/kamailio/templates/kamctlrc.j2
  ansible/roles/kamailio/templates/sipmediagw.cfg.j2
  ansible/roles/kamailio/vars/main.yml
Labels: Ansible

#6 Ansible playbook for Coturn
  ansible/playbooks/coturn.yml
  ansible/roles/coturn/README.md
  ansible/roles/coturn/defaults/main.yml
  ansible/roles/coturn/handlers/main.yml
  ansible/roles/coturn/meta/main.yml
  ansible/roles/coturn/tasks/main.yml
  ansible/roles/coturn/templates/turnserver.conf.j2
Labels: Ansible

#8 Ansible playbook for the Gateway Launcher
  .gitignore
  ansible/ansible.cfg
  ansible/playbooks/gateway-host.yml
  ansible/playbooks/gateway.yml
  ansible/requirements.yml
  ansible/roles/gateway-launcher/README.md
  ansible/roles/gateway-launcher/defaults/main.yml
  ansible/roles/gateway-launcher/files/HTTPLauncher.py
  ansible/roles/gateway-launcher/files/SIPMediaGW.sh
  ansible/roles/gateway-launcher/files/docker-compose.yml
  ansible/roles/gateway-launcher/files/pm2-ecosystem.yml
  ansible/roles/gateway-launcher/handlers/main.yml
  ansible/roles/gateway-launcher/meta/main.yml
  ansible/roles/gateway-launcher/tasks/main.yml
  ansible/roles/gateway-launcher/tasks/pm2.yml
  ansible/roles/gateway-launcher/templates/sipmediagw.cfg.j2
  ansible/roles/gateway-launcher/vars/main.yml
  ansible/roles/gateway/README.md
  ansible/roles/virtual-devices/README.md
  ansible/roles/virtual-devices/defaults/main.yml
  ansible/roles/virtual-devices/handlers/main.yml
  ansible/roles/virtual-devices/meta/main.yml
  ansible/roles/virtual-devices/tasks/audio.yml
  ansible/roles/virtual-devices/tasks/main.yml
  ansible/roles/virtual-devices/tasks/video.yml
Labels: documentation, Ansible

#11 Multiple images Packer build
  GNUmakefile
  bin/packer
  env.d/packer.dist
  packer/README.md
  packer/coturn.pkr.hcl
  packer/gateway-host.pkr.hcl
  packer/image.pkr.hcl
  packer/kamailio.pkr.hcl
  packer/variables.pkr.hcl
Labels: enhancement, packer

#12 Fix Kamailio cloud init
  terraform/kamailio.cloud-init.sh
Labels: bug, Terraform

#13 Coturn cloud init
  bin/terraform
  env.d/terraform.dist
  terraform/coturn.cloud-init.sh
  terraform/coturn.tf
Labels: enhancement, Terraform

#14 Add metadatas and scaler in Terraform
  bin/terraform
  env.d/terraform.dist
  terraform/coturn.tf
  terraform/kamailio.tf
  terraform/scaler.tf
Labels: enhancement, Terraform

#16 Add Scaler deployment
  ansible/playbooks/scaler.yml
  ansible/roles/scaler/tasks/main.yml
  ansible/roles/scaler/templates/docker-compose.yml.j2
  bin/packer
  bin/terraform
  env.d/packer.dist
  env.d/terraform.dist
  packer/scaler.pkr.hcl
  terraform/scaler.cloud-init.sh
  terraform/scaler.tf
Labels: enhancement, Ansible, Terraform, packer

#18 Upgrade scaler version
  ansible/playbooks/scaler.yml
  ansible/roles/scaler/defaults/main.yml
  ansible/roles/scaler/templates/env.j2
Labels: Ansible

#17 Implement the stateful Kamailio workflow
  ansible/roles/gateway-launcher/README.md
  ansible/roles/gateway-launcher/defaults/main.yml
  ansible/roles/gateway-launcher/files/HTTPLauncher.py
  ansible/roles/gateway-launcher/files/SIPMediaGW.sh
  ansible/roles/gateway-launcher/tasks/main.yml
  ansible/roles/kamailio/files/request_gw.py
  ansible/roles/kamailio/tasks/main.yml
  ansible/roles/kamailio/templates/kamailio.cfg.j2
Labels: Ansible

#24 Fix displayname containing space characters and gateway being stuck on login page
  ansible/roles/gateway-launcher/defaults/main.yml
  ansible/roles/kamailio/files/request_gw.py
Labels: bug, Ansible, Terraform

#25 Migrate from UK1 to SBG7
  env.d/packer.dist
  env.d/terraform.dist
Labels: Terraform, packer
