Repository Renater/SIPMediaDeploy, pull requests merged in 2022-07, with the labels that each got.

#27 Added variables for scaler configuration in Terraform
  bin/terraform
  env.d/terraform.dist
  terraform/gateway-host.tf
  terraform/scaler.cloud-init.sh
  terraform/scaler.tf
Labels: enhancement, Terraform

#29 Added TLS support for Kamailio
  ansible/roles/gateway-launcher/defaults/main.yml
  ansible/roles/gateway-launcher/tasks/main.yml
  ansible/roles/gateway-launcher/templates/SIPMediaGW.sh.j2
  ansible/roles/kamailio/defaults/main.yml
  ansible/roles/kamailio/files/tls.cfg
  ansible/roles/kamailio/tasks/main.yml
  ansible/roles/kamailio/tasks/tls.yml
  ansible/roles/kamailio/templates/kamailio.cfg.j2
  bin/ansible-playbook
  env.d/ansible.dist
Labels: enhancement, Ansible, Terraform

#22 Add a basic CI with Github Actions
  .github/workflows/push-workflow.yml
  ansible/.ansible-lint
  ansible/playbooks/scaler.yml
  ansible/requirements.txt
  ansible/roles/coturn/meta/main.yml
  ansible/roles/coturn/tasks/main.yml
  ansible/roles/gateway-launcher/tasks/main.yml
  ansible/roles/kamailio/meta/main.yml
  ansible/roles/kamailio/tasks/main.yml
  ansible/roles/kamailio/tasks/tls.yml
  ansible/roles/scaler/tasks/main.yml
  ansible/roles/status-checker/meta/main.yml
  ansible/roles/status-checker/tasks/main.yml
Labels: enhancement, Ansible, Terraform

#32 Upgrade gateway version
  ansible/roles/gateway-launcher/defaults/main.yml
  ansible/roles/gateway-launcher/templates/SIPMediaGW.sh.j2
Labels: enhancement, Ansible

#34 Small adjustment in READMEs
  GNUmakefile
  README.md
  ansible/README.md
  packer/README.md
  terraform/README.md
Labels: documentation
